configuration{	
    modi:               "drun,window,run"; 
    show-icons:         true; 
    display-drun:		"  Apps ";
    display-run:		"  Run ";
    display-window:		" 﩯 Workspaces ";
    display-combi:		"search" ; 
    display-Network:	" 𑁍  Network";
    display-ssh:		"  ssh";
    hover-select:		false;
    sidebar-mode:		false; /* set true to enables the tabs at bottom*/
    hide-scrollbar:		false;
    disable-history:	false; /*shows recent apps*/       
    terminal:			"kitty";
    drun-display-format:	"{icon} {name}";
    location:			 0;	
    window-show-actions:	false;      
    combi-hide-mode-prefix:	true;    
    auto-select:		false;	
    combi-hide-mode-prefix:	true;
    steal-focus: true;

}       
